:root {
    --bg-color: #f4f4ee;
    --text-color: #222;
    --card-bg: #ffffff;
    --border-color: rgb(181, 157, 157);
}

body.dark-mode {
    --bg-color: #121212;
    --text-color: #eaeaea;
    --card-bg: #1e1e1e;
    --border-color: #444;
}





.place-grid{
    display: flex;
    justify-content: flex-start;
    gap:70px;
    padding:20px;
    overflow-x: auto;

}

nav {
    display: flex;
    gap: 10px;
    padding: 20px;
    align-content: center;
}




html, body{
    margin:0;
    padding:0;
    overflow-x: visible;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}



.place-card{
    width: 400px;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    gap: 0.25rem;
    flex-shrink:0;
    background-color: var(--card-bg);
    color: var(--text-color);
}


.place-card img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1.2rem;
}

.place-card p{
    font-size: medium;
    line-height: 1.5;
    text-align: justify;
    padding: 1.5rem;
    color: var(--text-color);

}

.header{
    text-align: center;
    position: relative; 
    text-align: center; 
    padding:300px;
    background-color: transparent;
    background-image: url("https://www.theleela.com/prod/content/assets/aio-banner/dekstop/Ponmudi-hill-station-.jpg?VersionId=v.v_O7nZ59.Mrk_ILdKk7xq8t_gzh5_.");
    background-repeat: no-repeat;
}

header .header h1{
    background-color:transparent;
    font-size: 60px;
    font-weight: 300;
    font-family:fantasy;
    color: aliceblue;
}

header .header p{
    background-color:transparent;
    font-size: 25px;
    color: azure;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



html, h1{
    text-align: center;

}

body.dark-mode .header {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.45);
}


.header .datetime {
    position: absolute; 
    top: 20px;          
    right: 20px;        
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    padding: 30px 60px;
    border-radius: 5px;
}

.header .search{
    display:flex;
    position: absolute;
    top: 20px;
    }

.search input{
    width:200px;
}

button {
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
}


#themeToggle {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;

    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
}

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;         
    z-index: 99;          
    border: none;         
    outline: none;        
    background-color: #555; 
    color: white;         
    cursor: pointer;     
    padding: 15px;        
    border-radius: 50%;   
    font-size: 18px;      
    width: 50px;
    height: 50px;
    transition: background-color 0.3s;
}

#scrollTopBtn:hover {
    background-color: #333;
}