.place-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:70px;
    padding:20px;

}

nav, button {
    display: flex;
    gap: 10px;
    padding: 20px;
    align-content: center;
}

html, body{
    margin:0;
    padding:0;
    overflow-x: visible;
}

.place-card{
    width: 100%;
    height: auto;
    outline:10px;
    box-shadow: inset;
}

.place-card img{
    width: 100%;
    height: auto;
}

.header{
    text-align: center;
}

.header h1{
    background-color: rgb(137, 198, 76);
    font-size: 70;
    font-weight: 300;
}

.header p{
    background-color:rgb(190, 225, 190)
}

*{
    background-color: beige;
}

html, h1{
    text-align: center;
    text-decoration: dashed;
}