.place-grid{
    display: flex;
    gap:70px;
    padding:20px;

}

.place-card{
    width: 500px;
    height: 500px;
    outline:10px;

}

.place-card img{
    width: auto;
    height: 200px;
}